*{
    --main: #329BC9;
    --mainDark: #154859;
}

iframe{
    width: inherit;
}

.cardSalones{
    flex-wrap: wrap !important;
}

.fondo{
    background-color: #154859;
}

h3.fondo{
    font-weight: normal !important;
}

img.w100{
    width: 100%
}

.div-w100{
    width: 100%;
}

.hide-elem{
    /*display: none !important;*/
}

.maincolor{
    color:  var(--main) !important;
}

.maindcolor{
    color:  var(--mainDark) !important;
}

hr.womr{
    margin: 0;
    margin-bottom: 0.5em;
}

h5.womr{
    margin-bottom: 0.2em !important;
}

.womargin{
    margin: 0 !important;
}

@media (min-width: 992px){
    div.collapse.navbar-collapse.text-center.d-lg-none.hide-on-lg{
        display: none !important;
    }
}


/*#region EmptyToShow*/
.empty-warn .container{
    visibility: visible;
}

.empty-warn{
    background-color: white;
}

#empty-warn{
    display: none;
}

/*#endregion*/

/*#region FONDO*/
    body{
        /*background-color: #2E9CC1;*/
        /*background-image: linear-gradient(to bottom, #2E9CC1 0%, #154859 200%); 
        background-repeat: no-repeat;
        background-attachment: fixed;*/
        /*margin-top: 55px;*/
    }

    @media (max-width: 768px) { 
        .forma{
        /* height: 70px !important;*/
        }
    }
/*#endregion */

/*#region NAV*/
.forma{
    position: fixed !important;
	top: 0 !important;
	right: 0 !important;
	left: 0 !important;
	z-index: -1;
}

.navbar-toggler i{
    color: white !important;
}

button.navbar-toggler{
    border: 0;
}

.navbar{
    background-color: #154859 !important;
}

.animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
}
  
@keyframes slideIn {
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
    100% {
      transform:translateY(0rem);
      opacity: 1;
    }
    0% {
      transform: translateY(1rem);
      opacity: 0;
    }
}
  
@-webkit-keyframes slideIn {
    0% {
      -webkit-transform: transform;
      -webkit-opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      -webkit-opacity: 1;
    }
    0% {
      -webkit-transform: translateY(1rem);
      -webkit-opacity: 0;
    }
}
  
.slideIn {
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
}

.forma{	
    
    background-color: #154859;
    position: absolute;
	top: 0;
	bottom: 0; 
	right: 0; 
    left: 0;
    

	width: 100%;
	height: 140px;
	/* background-image: linear-gradient(#ff9d2f, #ff6126); */
	transform: skewY(-6deg);
    transform-origin: top left;

    filter: blur(0.3px);
}

/*#endregion */

/*#region MENU */
i.lgmenu{
    font-size: 3em;
}

.c-menu{
    background-color: white;

    border-radius: 0 !important;
    border: 1px solid rgba(171, 171, 171, 0.2);

    color: var(--main);
}

.c-menu:active{
    background-color: var(--main);
    color: white;
}

.c-menu:hover{
    background-color: rgba(50, 155, 201, 0.7);
    color: white;
}

.r-main{
    margin: 0;
}

@media (max-width: 350px){
    .r-main{
        margin-left: -15px;
        margin-right: -15px;
    }
}

i.fas.fa-bars{
    font-size: 1.5em;
}

.card-title{
    overflow-wrap: normal;
}

@media (max-width: 460px) { 
    .card-title{
       font-size: 1.1em;
    }
    .card-body{
        padding: 10% !important;
    }
}

.bg-dark {
    /*background-color: rgb(52, 58, 64, 0.8)!important;*/
    /*background-color: rgb(46, 156, 193, 0.8) !important;*/
}

.bg-dark:hover {
    /*background-color: rgb(52, 58, 64, 1)!important;*/
    /*background-color: rgb(46, 156, 193, 1) !important;*/
}

.nav-link i::before{
    font-size: large !important;
}
/*#endregion */

/*#region LOGOBRAND*/
hr.hrwo{
    margin: 0 !important;
    border-top: 1px solid rgba(0,0,0,.1) !important; 
}

.cont-brand{
    display: inline-grid;
	padding-left: 5px;
}

.lb-centro{
    border-bottom: 1px solid;
	padding: 0 2px;
}

.lb-me{
    font-weight: lighter;
	font-size: 0.8em;
}

.cont-lb{
    display: flex;
	align-items: center;
}

.hlogo{
    font-size: medium;
}

.card{
    display: inline-block;
	width: 100%;
}

.card-columns{
    column-count: 2;
}

@media (min-width: 768px) { 
    .card-columns, .noti-card{
        column-count: 3 !important;
    }
}


@media (min-width: 1200px) { 
    .card-columns, .noti-card{
        column-count: 5 !important;
    }
}
/*#endregion */

/*#region FOOTER */
.footer{
    padding: 0.5em 0;
    background-color: #154859;
    width: 100%;
}
/*#endregion */


/*#region NAV-Tab*/
.nav{
    z-index: 1000;
    background-color: white;
    border-top: 1.25px solid #dddddd;
    width: 100%;

    display: flex;
    justify-content: space-around;

    position: fixed;
    bottom: 0;

    padding: 0.3em 0 0.1em 0;
   /*padding-bottom: 0.3em;*/
}

.h-nav{
    margin-bottom: 40px;
    width: 100%;
}

a.taboption{
    text-align: center;
    text-decoration: none;
}

a.taboption:hover, a.taboption:active, a.taboption:link{
    color: var(--mainDark) !important;
}

.taboption p{
    margin: 0;
    margin-top: -5px;

    color: var(--main);
    font-size: .9em;

}

.taboption i{
    color: #B4B4B4;
    font-size: 1.5em;
}

.nav .taboption{
    font-size: 1.3em;
    /*padding: 0 10% 0 10%;*/
    text-align: center;
    min-width: 33%;
}

.nav .taboption i{
    /* padding-top: 0.2em; */
}

.taboption.active-opt i{
    color: var(--main);
}

.taboption img{
    /* margin-top: 4px; */
    /*width: 55px;*/
    
    /*padding-right: 16px;*/
    /*padding-left: 10px;

	margin-left: 3em;
    margin-right: 3em; */
}

.ripple-con,
.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.button:hover::after,
.ripple {
  content: ' ';
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  display: inline-block;
  border-radius: 100%;
  animation: ripple 250ms;
}

.button:active::after,
.ripple:active,
.button:active + .ripple {
  animation: none;
}

@keyframes ripple {
  to {
    opacity: 0;
    margin: -47px;
    width: 94px;
    height: 94px;
  }
}

    /*#region NavTool*/
    .nav-op{
        z-index: 999;
        background-color: var(--main);
        /*border-top: 1px solid #dddddd;*/
        width: 100%;

        display: flex;
        justify-content: space-around;
    
        position: fixed;

        min-height: 20px;
    
       padding-top: 0.2em;
       /*padding-bottom: 0.3em;*/

       animation: showMenu 200ms ease-out forwards;
    }

    .nav-op.hide-elem{
        animation: hideMenu 250ms ease-in forwards; 
    }

    .nav-op .taboption p{
        color: white;    
    }
    
    .nav-op .taboption i{
        color: white;
    }

    @keyframes hideMenu{
        0%{
            bottom: 39px;
        }
        100%{
            bottom: -39px;
        }
    }

    @keyframes showMenu{
        0%{
            bottom: 0;
        }
        100%{
            bottom: 39px;
        }
    }
    /*#endregion NavTool*/


/*#endregion NAV-Tab*/

.list-wodeco{
    list-style: none;
	padding: 0;
}

#cont{
    background-color: white;
}

p.indent{
    text-indent: 1em;
}

/*#region LOADER*/

/* Center the loader */
#loader {
    visibility: visible !important;
    position: absolute;
    left: 54%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid var(--mainDark);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  .container{
      visibility: hidden;
      animation: fadein 450ms cubic-bezier(.89, .05, .8, .9) forwards;
  }

  .row.view, .card-columns.view{
    animation: fadein 300ms cubic-bezier(.89, .05, .8, .9) forwards;
    }


  /*
  m-import{
        visibility: hidden;
  }*/

  @keyframes fadein{
      0%{
        opacity: 0;
      }
      100%{
        opacity: 1;
      }
  }
/*#endregion LOADER*/

.time-update{
    margin-top: 0.5em;
    text-align: right;  
}

.card-columns.noti-card{
    column-count: 1 ;
}


/*#region ADMIN */
.womr.t-sec{
    color: var(--mainDark);
	font-weight: bold;
	text-transform: uppercase;
}

.w-noti{
    width: 95%;
}


/*#endregion */