<div class="row view conf">
    <button class="btn btn-outline save btn-block" onclick="SaveRegToDB('form')">
        <i class="fas fa-laptop-medical"></i>
        Recibir en este dispositivo
    </button>

    <div class="btsave">
        <button class="btn btn-outline save btn-block" onclick="SaveRegToDB('form')">
            <i class="fas fa-check" id="check-save"></i>
            <div style="display: none;" class="spinner-border text-dark spinner-border-sm" id="spiner-save"
                role="status"><span class="sr-only">Loading...</span></div>
            Guardar cambios
        </button>
    </div>
    <br><br><br>

    <div class="div-w100">
        <li class="list-group-item main">
            Notificaciones
            <label class="switch ">
                <input type="checkbox" class="default" id="notiState" onclick="toggleNoti()">
                <span class="slider round"></span>
            </label>
        </li>
    </div>

    <br><br><br>

    <div class="card">
        <div class="card-header h5"><b>Configuración general</b></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Avisos UCAB
                <label class="switch ">
                    <input type="checkbox" class="default opt" id="avisosU">
                    <span class="slider round"></span>
                </label>
            </li>
            <li class="list-group-item">
                Eventos
                <label class="switch ">
                    <input type="checkbox" class="default opt" id="eventosU">
                    <span class="slider round"></span>
                </label>
            </li>
            <li class="list-group-item">
                Centro
                <label class="switch ">
                    <input type="checkbox" class="default opt" id="centroEst">
                    <span class="slider round"></span>
                </label>
            </li>
        </ul>
    </div>
    <br><br>
    <div class="card">
        <div class="card-header h5"><b>Coordinaciones</b></div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Académico
                <label class="switch ">
                    <input type="checkbox" class="default opt" id="acadCoor">
                    <span class="slider round"></span>
                </label>
            </li>
            <li class="list-group-item">
                Finanzas
                <label class="switch ">
                    <input type="checkbox" class="default opt" id="finCoor">
                    <span class="slider round"></span>
                </label>
            </li>
            <li class="list-group-item">
                Social
                <label class="switch">
                    <input type="checkbox" class="default opt" id="socialCoor">
                    <span class="slider round"></span>
                </label>
            </li>
            <li class="list-group-item">
                Deportes
                <label class="switch">
                    <input type="checkbox" class="default opt" id="depCoor">
                    <span class="slider round"></span>
                </label>
            </li>

        </ul>
    </div>

</div>