<div>
    <div class="card-columns noti-card view" id="notis">

        <!-- <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">7Otro msg</h5>
                        <p class="card-text">Pruebaaa</p>
                        <p class="card-text time-update"><span class="text-muted">Hace 2 dias</span></p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group btn-block" role="group" >
                            <a href="#" role="button" class="btn btn-outline-info"><i class="fas fa-link"></i></a>
                            <button type="button" class="btn btn-outline-info"><i class="fas fa-share-alt"></i></button>
                        </div>
                    </div>
                </div> -->

        <div class="card loading">
            <div class="card-body">
                <h5 class="card-title content-placeholder text"></h5>

                <p class="card-text content-placeholder text"></p>
                <div class="text-center">
                    <a href="#" class="content-placeholder btn btn-block  btn-outline-light stretched-link">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
                <p class="card-text time-update">
                    <span class="text-muted content-placeholder text"></span>
                </p>
            </div>
        </div>

        <div class="card loading">
            <span class="card-img-top content-placeholder img"></span>
            <div class="card-body">
                <h5 class="card-title content-placeholder text"></h5>

                <p class="card-text content-placeholder text"></p>
                <div class="text-center">
                    <a href="#" class="content-placeholder btn btn-block  btn-outline-light stretched-link">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
                <p class="card-text time-update">
                    <span class="text-muted content-placeholder text"></span>
                </p>
            </div>
        </div>

        <div class="card loading">
            <div class="card-body">
                <h5 class="card-title content-placeholder text"></h5>

                <p class="card-text content-placeholder text"></p>
                <div class="text-center">
                    <a href="#" class="content-placeholder btn btn-block  btn-outline-light stretched-link">
                        <i class="fas fa-angle-double-right"></i>
                    </a>
                </div>
                <p class="card-text time-update">
                    <span class="text-muted content-placeholder text"></span>
                </p>
            </div>
        </div>

    </div>
    <button class="btn btn-outline-info btn-block" btn-block" type="button" onclick="loadNotificacion('more')">
        <span class="spinner-border spinner-border-sm" id="spin-load" role="status" aria-hidden="true"
            style="display: none; "></span>
        <i class="fas fa-chevron-down" id="down-load"></i>
    </button>
</div>