<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <hr>
        <h5>Desarrollador principal</h5>
        <h6>Miguel De Olim</h6>
        <a href="migueldeolim1@gmail.com">
            <i class=" fas fa-envelope"></i> migueldeolim1@gmail.com
        </a>
        <hr>
        <p class="text-justify indent">
            Este programa tiene el objetivo de ofrecerle a los estudiantes un conjunto de
            herramientas de la mano con su centro de estudiante. Busca ser una solucion a
            distintos problemas del dia a dia ucabista.
        </p>

        <hr>
            <h4>¿Tuviste o tienes un problema?</h4>
            <br>
            <a href="https://forms.gle/herjVeNRAAUKpM2m9" role="button" class="btn btn-outline-dark">¡Reportarlo! </a>
            <br>
        <hr>
        <br>
    </div>
</div>