<div class="row r-main justify-content-center view" id="main">

    <div class="card c-menu text-center col-6 col-md-4" style="display: none;" id="card-admin">
        <div class="card-body">
                <i class="fas fa-user-astronaut lgmenu"></i>
            <h5 class="card-title womargin">Panel Administrativo</h5>
            <a href="/admin/" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="card c-menu text-center col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-calculator lgmenu"></i>
            <h5 class="card-title womargin">UCalculadora</h5>
            <!-- <p class="card-text">Herramienta para cálculo de matrícula.</p> -->
            <a href="https://madot10.github.io/UCalculadora/" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center  col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-user-tie lgmenu"></i>
            <h5 class="card-title womargin">Profesores </h5>
            <!-- <p class="card-text">¡Conoce a tus profesores!</p> -->
            <a href="#/profesores" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-file-archive lgmenu"></i>
            <h5 class="card-title womargin">Recursos</h5>
            <!-- <p class="card-text">Recopilación de material recomendado para ti.</p> -->
            <a href="#/recursos" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center  col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-chalkboard-teacher lgmenu"></i>
            <h5 class="card-title womargin">Salones</h5>
            <!-- <p class="card-text">Donde se estará dando clases.</p> -->
            <a href="#/salones" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center  col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-hands-helping lgmenu"></i>
            <h5 class="card-title womargin">Voluntariado de Economía</h5>
            <!-- <p class="card-text">Acciones solidarias de los estudiantes.</p> -->
            <a href="#/voluntariado" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-bell lgmenu"></i>
            <h5 class="card-title womargin">Notificaciones</h5>
            <!-- <p class="card-text">¡Descubre lo que la UCAB te ofrece!</p> -->
            <a href="#/eventos" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-tint lgmenu"></i>
            <h5 class="card-title womargin">MOPEP</h5>
            <!-- <p class="card-text">Modelo de la Organización de Países Exportadores de Petróleo. </p> -->
            <a href="#/mopep" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-brain lgmenu"></i>
            <h5 class="card-title womargin">Programa Progresa</h5>
            <!-- <p class="card-text">Herramientas para aprovechar al máximo sus destrezas y facilitar el inicio. </p> -->
            <a href="#/progresa" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center  col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-cogs lgmenu"></i>
            <h5 class="card-title womargin">Configuración</h5>
            <!-- <p class="card-text">Herramientas para aprovechar al máximo sus destrezas y facilitar el inicio. </p> -->
            <a href="#/configuracion" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-info lgmenu"></i>
            <h5 class="card-title womargin">Información</h5>
            <!-- <p class="card-text">Herramientas para aprovechar al máximo sus destrezas y facilitar el inicio. </p> -->
            <a href="#/informacion" class="stretched-link card-link"></a>
        </div>
    </div>

    <div class="c-menu card text-center col-6 col-md-4">
        <div class="card-body">
            <i class="fas fa-bug lgmenu"></i>
            <h5 class="card-title womargin">Reportar fallo</h5>
            <!-- <p class="card-text">Herramientas para aprovechar al máximo sus destrezas y facilitar el inicio. </p> -->
            <a href="#/informacion" class="stretched-link card-link"></a>
        </div>
    </div>
</div>