<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <img src="/media/mopep.png" alt="" class="w100">

        <hr>

        <p class="text-justify">
            MOPEP es un simulacro de la Organización de Países Exportadores de Petróleo (OPEP), siendo un modelo
            de debate y negociación donde los estudiantes de 1er y 2do año de la carrera de economía de la
            Universidad Católica Andrés Bello (UCAB), representan a los voceros oficiales de los países miembros
            de la OPEP.

        </p>

        <hr>

        <h5>Redes Sociales</h5>
        <a href="https://www.instagram.com/mopep_ucab/">
            <i class="fab fa-instagram"></i> @mopep_ucab
        </a>

        <br>

        <a href="https://twitter.com/modelopep">
            <i class="fab fa-twitter-square"></i> @modelopep
        </a>

        <br>

        <a href="modelopep@gmail.com">
            <i class="fas fa-envelope"></i> modelopep@gmail.com
        </a>
        <br><br>
    </div>
</div>