<div class="card-columns view" id="cardProf">
        <!-- <div class="card">
            <img src="https://image.flaticon.com/icons/png/512/23/23140.png" class="card-img-top content-placeholder" alt="foto de profesor">
            <div class="card-body ">
                <h5 class="card-title content-placeholder">Nombre Profesor</h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder">Materia</h6>   
                <p class="card-text content-placeholder">Actualmente politcos</p>
                <p class="card-text content-placeholder">Estudios:</p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item content-placeholder">Matematica UCV</li>
                <li class="list-group-item content-placeholder">Economia UCAB</li>
            </ul>
        </div>  -->

        <div class="card shadow loading">
            <span class="card-img-top content-placeholder img"></span>
            <div class="card-body ">
                <h5 class="card-title content-placeholder text"></h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder text"></h6>
                <p class="card-text content-placeholder text"></p>
                <p class="card-text content-placeholder text"></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item content-placeholder "></li>
                <li class="list-group-item content-placeholder"></li>
            </ul>
        </div>
        <div class="card shadow loading">
            <span class="card-img-top content-placeholder img"></span>
            <div class="card-body ">
                <h5 class="card-title content-placeholder text"></h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder text"></h6>
                <p class="card-text content-placeholder text"></p>
                <p class="card-text content-placeholder text"></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item content-placeholder "></li>
                <li class="list-group-item content-placeholder"></li>
            </ul>
        </div>
        <div class="card shadow loading">
            <span class="card-img-top content-placeholder img"></span>
            <div class="card-body ">
                <h5 class="card-title content-placeholder text"></h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder text"></h6>
                <p class="card-text content-placeholder text"></p>
                <p class="card-text content-placeholder text"></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item content-placeholder "></li>
                <li class="list-group-item content-placeholder"></li>
            </ul>
        </div>
        <div class="card shadow loading">
            <span class="card-img-top content-placeholder img"></span>
            <div class="card-body ">
                <h5 class="card-title content-placeholder text"></h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder text"></h6>
                <p class="card-text content-placeholder text"></p>
                <p class="card-text content-placeholder text"></p>
            </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item content-placeholder "></li>
                <li class="list-group-item content-placeholder"></li>
            </ul>
        </div>

    </div>