<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <img src="/media/progresa.png" class="w100">

        <hr>
        <h5>Coordinador</h5>
        <h6>Taylover Peláez</h6>
        <a href="tapelaez@ucab.edu.ve">
            <i class=" fas fa-envelope"></i> tapelaez@ucab.edu.ve
        </a>
        <hr>
        <p class="text-justify indent">
            Este programa tiene el objetivo de ofrecerle a los estudiantes que se encuentran en su primer
            período de estudios universitarios, un conjunto de herramientas para aprovechar al máximo sus
            destrezas, facilitar el inicio y adaptación del medio universitario, de forma que puedan lograr el
            mejor rendimiento académico.
        </p>
        <p class="text-justify indent">
            Por tal razón, se creó la figura de profesor y estudiante tutor. Ellos, en un horario específico,
            les brindarán tutorías en las materias donde presentan mayor dificultad. Para este período académico
            contamos con tutorías académicas en las siguientes asignaturas: Matemáticas I, Microeconomía I,
            Historia de los Hechos Económicos y Sociales I, y Macroeconomía I.

        </p>

        <br><br>
    </div>
</div>