<div class="card-columns view" id="cardFile">
        <!-- <div class="card">
            <div class="card-body">
                <h5 class="card-title">Card title <i class="fab fa-google-drive"></i></h5>
                <h6 class="card-subtitle mb-2 text-muted"><span class="badge badge-success">Nuevo</span></h6>
                <p class="card-text"> Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="card-link stretched-link">Card link </a>
            </div>
        </div>  -->
        <div class="card loading">
            <div class="card-body">
                <h5 class="card-title content-placeholder text"> </h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder text-lg"></h6>
                <p class="card-text content-placeholder text"></p>
                <p class="card-link content-placeholder text"></p>
            </div>
        </div>
        <div class="card loading">
            <div class="card-body">
                <h5 class="card-title content-placeholder text"> </h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder text-lg"></h6>
                <p class="card-text content-placeholder text"></p>
                <p class="card-link content-placeholder text"></p>
            </div>
        </div>
        <div class="card loading">
            <div class="card-body">
                <h5 class="card-title content-placeholder text"> </h5>
                <h6 class="card-subtitle mb-2 text-muted content-placeholder text-lg"></h6>
                <p class="card-text content-placeholder text"></p>
                <p class="card-link content-placeholder text"></p>
            </div>
        </div>
    </div>