<div class="row view">
        <div class="col-sm-4">
            <div class="list-group" id="list-tab" role="tablist">
                    <a href="#" class="list-group-item list-group-item-action loading "><span class="content-placeholder text"></span></a>
                    <a href="#" class="list-group-item list-group-item-action loading "><span class="content-placeholder text"></span></a>
                    <a href="#" class="list-group-item list-group-item-action loading"><span class="content-placeholder text"></span></a>
                    <a href="#" class="list-group-item list-group-item-action loading"><span class="content-placeholder text"></span></a>
            </div>
            <br>
        </div>

        <div class="col-sm-8">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show  align-middle d-none d-sm-block" id="home" role="tabpanel">
                    <h3 class="text-center">¡Conoce los salones!</h3>
                   <p class="text-justify">Ordenados por materias encontrás donde un profesor dará clases.</p>
                </div>
            </div>
        </div>
    </div>