<div class="row justify-content-md-center view" id="cont">
    <div class="col-md-auto text-center">
        <img src="/media/veclogo.jpg" alt="" class="w100">
        <h4>¿Quiénes somos? </h4>
        <p class="text-justify">
            El Voluntariado de Economía (VEC) busca promover la acción social y colaboración de los estudiantes
            de economía, desarrollando acciones solidarias tanto en el marco de los programas de proyección a la
            comunidad, como también en colaboración con otras fundaciones.
        </p>

        <hr>

        <h4>¿Dónde trabajamos? </h4>
        <p class="text-justify">
            <h5>En La Vega</h5>
            <ul class="text-center list-wodeco">
                <li>U. E. Luis María Olaso – Fe y Alegría, ubicado en el sector La Pradera</li>
                <li>U. E. Colegio Alianza - Fe y Alegría</li>
            </ul>

            <h5>En Antímano</h5>
            <ul class="text-center list-wodeco">
                <li>Unidad Educativa Policial Don Laudelino Mejías, en la Av. Intercomunal de Antímano</li>
                <li>Escuela Técnica Integral San José Obrero</li>
            </ul>
        </p>

        <hr>

        <h4>Proyectos</h4>
        <ul class="text-center list-wodeco">
            <li>Refuerzo de Matemáticas</li>
            <li>Hablando de Economía</li>
            <li>Recolección de Juguetes en Navidad</li>
            <li>Recolección de Libros para la comunidad</li>
            <li>​VECshow</li>
        </ul>

    </div>
</div>